@import '../../assets/scss/abstract/mixins';
@import '../../assets/scss/abstract/variables';

.navbar {
    text-align: center;
    padding: 2rem;
    

    &__toggle {
        @include respond(md) {
            display: block;
            position: relative;
            top: 0;
            left: 2%;;
            z-index: 1;
            -webkit-user-select: none;
            user-select: none;

            input:checked ~ span:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }

            input:checked ~ span:nth-last-child(2) {
                transform: rotate(-45deg) translate(0, 1px);
            }
        }
    }

    &__input,
    &__span {
        display: none;
        cursor: pointer;
    }

    &__input {
        @include respond(md) {
            display: block;
            width: 5.5rem;
            height: 5rem;
            position: absolute;
            top: -7px;
            left: -5px;
            opacity: 0;
            z-index: 2;
            -webkit-touch-callout: none;
        }
    }

    input:checked ~ ul {
        @include respond(md) {
            transform: none;
        }
    }

    &__span {
        @include respond(md) {
            position: relative;
            display: block;
            width: 4rem;
            height: .5rem;
            margin-bottom: 5px;
            background: $black;
            border: 2px solid $black;
            border-radius: 5px;
            z-index: 1;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                        opacity 0.55s ease;

            &:first-child {
                transform-origin: 0% 0%;
            }

            &:nth-last-child(2) {
                transform-origin: 0% 100%;
            }
        }

        &--empty {
            @include respond(md) {
                border: 2px solid $black;
                background-color: transparent;
            }
        }
    }

    &__container-logo {
        margin-bottom: 2rem;
    }

    &__logo {
        font-family: 'Dancing Script', cursive;
    }

    &__menu-item {
        display: inline-block;
        padding: .5rem;
        margin: 0 1rem;

        @include respond(md) {
            display: block;
        }
    }

    &__menu {
        width: 1200px;
        display: flex;
        flex-wrap: wrap;
        
        justify-content: space-between;
        list-style-type: none;

        @include respond(md) {
            position: absolute;
            width: 90%;
            margin: -100px 0 0 -50px;
            padding: 50px;
            padding-top: 125px;
            text-align: center;

            background: $white;
            list-style-type: none;
            -webkit-font-smoothing: antialiased;

            transform-origin: 0% 0%;
            transform: translate(-100%, 0);

            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        }
    }

}